<h1>Blog</h1>

<h4>Title: Yacht</h4>
<div class="index-pic">
  <%= image_tag("yacht1.jpg", class: "img-responsive my-image", width:'60%') %>
</div>

<div class="index-pic">
  <%= image_tag("sunset1.jpg", class: "img-responsive my-image", width:'60%') %>
</div>

<div class="index-pic">
  <%= image_tag("lorenzo.jpg", class: "img-responsive my-image", width:'60%') %>
</div>
